In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv("../../dataset/heart-disease.csv")
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [9]:
# Create X (features matrix)
X = df.iloc[:, :-1].values

# Create y (levels)
y = df.iloc[:, -1].values

In [10]:
# Split the dataset into training set and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [11]:
# feature scaling
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [12]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(criterion="entropy", n_estimators=1000, random_state=0, max_depth=3)
clf.fit(X_train, y_train);

clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'entropy',
 'max_depth': 3,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'monotonic_cst': None,
 'n_estimators': 1000,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 0,
 'verbose': 0,
 'warm_start': False}

In [51]:
# on the training set

clf.score(X_train, y_train)

0.8801652892561983

In [53]:
from sklearn.metrics import accuracy_score
y_pred = clf.predict(X_test)

print(accuracy_score(y_test, y_pred))

0.8524590163934426

In [55]:
# import sklearn
# sklearn.show_versions()

In [11]:
# try different number of n_estimators 
np.random.seed(42)

for i in range(20, 1000, 20):
    print(f"Trying model with {i} estimators")
    model = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy on the test set {model.score(X_test, y_test)}")
    print("")

Trying model with 20 estimators
Model accuracy on the test set 0.8032786885245902

Trying model with 40 estimators
Model accuracy on the test set 0.8524590163934426

Trying model with 60 estimators
Model accuracy on the test set 0.8688524590163934

Trying model with 80 estimators
Model accuracy on the test set 0.8524590163934426

Trying model with 100 estimators
Model accuracy on the test set 0.8360655737704918

Trying model with 120 estimators
Model accuracy on the test set 0.8688524590163934

Trying model with 140 estimators
Model accuracy on the test set 0.8524590163934426

Trying model with 160 estimators
Model accuracy on the test set 0.8360655737704918

Trying model with 180 estimators
Model accuracy on the test set 0.8524590163934426

Trying model with 200 estimators
Model accuracy on the test set 0.8524590163934426

Trying model with 220 estimators
Model accuracy on the test set 0.8360655737704918

Trying model with 240 estimators
Model accuracy on the test set 0.8524590163934426

Trying model with 260 estimators
Model accuracy on the test set 0.819672131147541

Trying model with 280 estimators
Model accuracy on the test set 0.8524590163934426

Trying model with 300 estimators
Model accuracy on the test set 0.8688524590163934

Trying model with 320 estimators
Model accuracy on the test set 0.8524590163934426

Trying model with 340 estimators
Model accuracy on the test set 0.8688524590163934

Trying model with 360 estimators
Model accuracy on the test set 0.8524590163934426

Trying model with 380 estimators
Model accuracy on the test set 0.8360655737704918

Trying model with 400 estimators
Model accuracy on the test set 0.8688524590163934

Trying model with 420 estimators
Model accuracy on the test set 0.8524590163934426

Trying model with 440 estimators
Model accuracy on the test set 0.8524590163934426

Trying model with 460 estimators
Model accuracy on the test set 0.8524590163934426

Trying model with 480 estimators
Model accuracy on the test set 0.8852459016393442

Trying model with 500 estimators
Model accuracy on the test set 0.8852459016393442

Trying model with 520 estimators
Model accuracy on the test set 0.8524590163934426

Trying model with 540 estimators
Model accuracy on the test set 0.819672131147541

Trying model with 560 estimators
Model accuracy on the test set 0.8688524590163934

Trying model with 580 estimators
Model accuracy on the test set 0.8524590163934426

Trying model with 600 estimators
Model accuracy on the test set 0.8524590163934426

Trying model with 620 estimators
Model accuracy on the test set 0.8688524590163934

Trying model with 640 estimators
Model accuracy on the test set 0.8524590163934426

Trying model with 660 estimators
Model accuracy on the test set 0.8688524590163934

Trying model with 680 estimators
Model accuracy on the test set 0.8524590163934426

Trying model with 700 estimators
Model accuracy on the test set 0.8688524590163934

Trying model with 720 estimators
Model accuracy on the test set 0.8688524590163934

Trying model with 740 estimators
Model accuracy on the test set 0.8524590163934426

Trying model with 760 estimators
Model accuracy on the test set 0.8688524590163934

Trying model with 780 estimators
Model accuracy on the test set 0.8524590163934426

Trying model with 800 estimators
Model accuracy on the test set 0.8688524590163934

Trying model with 820 estimators
Model accuracy on the test set 0.8688524590163934

Trying model with 840 estimators
Model accuracy on the test set 0.8524590163934426

Trying model with 860 estimators
Model accuracy on the test set 0.8688524590163934

Trying model with 880 estimators
Model accuracy on the test set 0.8524590163934426

Trying model with 900 estimators
Model accuracy on the test set 0.8524590163934426

Trying model with 920 estimators
Model accuracy on the test set 0.8688524590163934

Trying model with 940 estimators
Model accuracy on the test set 0.8524590163934426

Trying model with 960 estimators
Model accuracy on the test set 0.8524590163934426

Trying model with 980 estimators
Model accuracy on the test set 0.8524590163934426

In [19]:
car_sales = pd.read_csv("../../dataset/car-sales-extended.csv")

car_sales

       Make Colour  Odometer (KM)  Doors  Price
0     Honda  White          35431      4  15323
1       BMW   Blue         192714      5  19943
2     Honda  White          84714      4  28343
3    Toyota  White         154365      4  13434
4    Nissan   Blue         181577      3  14043
..      ...    ...            ...    ...    ...
995  Toyota  Black          35820      4  32042
996  Nissan  White         155144      3   5716
997  Nissan   Blue          66604      4  31570
998   Honda  White         215883      4   4001
999  Toyota   Blue         248360      4  12732

[1000 rows x 5 columns]

In [21]:
from sklearn.model_selection import train_test_split
# Create X (feature matrix)
X = car_sales.drop("Price", axis=1)

# create y lavel
y = car_sales['Price']

# Split the dataset into test set and training set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [23]:
# Build machine learning model
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

ValueError: could not convert string to float: 'Honda'

In [ ]:
car_sales

In [25]:
# Turn the category into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()

transformer = ColumnTransformer([("one_hot", one_hot, categorical_features)], remainder="passthrough")

transform_X = transformer.fit_transform(X)
transform_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [65]:
pd.DataFrame(transform_X)

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [67]:
car_sales

       Make Colour  Odometer (KM)  Doors  Price
0     Honda  White          35431      4  15323
1       BMW   Blue         192714      5  19943
2     Honda  White          84714      4  28343
3    Toyota  White         154365      4  13434
4    Nissan   Blue         181577      3  14043
..      ...    ...            ...    ...    ...
995  Toyota  Black          35820      4  32042
996  Nissan  White         155144      3   5716
997  Nissan   Blue          66604      4  31570
998   Honda  White         215883      4   4001
999  Toyota   Blue         248360      4  12732

[1000 rows x 5 columns]

In [69]:

# Let's refig the model
X_train, X_test, y_train, y_test = train_test_split(transform_X, y, test_size=0.2, random_state=0)

# Train the model
model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.3381135511643646

# What if there ware missing data

In [73]:
# import missing dataset

car_sales_missing = pd.read_csv('../../dataset/car-sales-extended-missing-data.csv')

car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [75]:
# check how many data are missing

car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [77]:
 # rename the dataset column name

# car_sales_missing.rename(columns={"Make": "make", "Colour": "color", "Odometer (KM)": "odometer", "Doors":"doors", "Price":"price"}, inplace=True)

In [79]:
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [81]:
# fill nake column
# car_sales_missing['make'].isna().sum()

In [83]:
car_sales_missing['Doors'].value_counts()

Doors
4.0    811
5.0     75
3.0     64
Name: count, dtype: int64

In [85]:
# fill the "make" column
car_sales_missing['Make'] = car_sales_missing['Make'].fillna("missing")

# fill the "Colour" column
car_sales_missing['Colour'] = car_sales_missing['Colour'].fillna("missing")

# fill the "Odometer (KM)" column
car_sales_missing['Odometer (KM)'] = car_sales_missing['Odometer (KM)'].fillna(car_sales_missing['Odometer (KM)'].mean())

# fill the "Doors" column
car_sales_missing['Doors'] = car_sales_missing['Doors'].fillna(4)

In [87]:
car_sales_missing.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [89]:
car_sales_missing.dropna(subset=["Price"], inplace=True)

In [91]:
len(car_sales_missing)

950

In [93]:
car_sales_missing.dropna(inplace=True)

In [95]:
len(car_sales_missing)

950

In [97]:
car_sales_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [99]:
X = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing['Price']

In [101]:
y.isna().sum()

0

In [103]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()

transformed = ColumnTransformer([('encoder', one_hot, categorical_features) ], remainder="passthrough")

transform_x = transformed.fit_transform(X)

transform_x

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

## Fill missing value with scikit-Learn

In [108]:
car_sales_missing = pd.read_csv("../../dataset/car-sales-extended-missing-data.csv")
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [110]:
# check missing value in our car sales dataset
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [112]:
car_sales_missing.dropna(subset=["Price"], inplace=True)

In [114]:
X = car_sales_missing.drop('Price', axis=1)
y = car_sales_missing['Price']

In [116]:
y.isna().sum()

0

In [118]:
# fill null value with scikit-learn
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

cat_imputer = SimpleImputer(strategy="constant", fill_value="missing")
door_imputer = SimpleImputer(strategy="constant", fill_value=4)
num_imputer = SimpleImputer(strategy="mean")

# Define the columns
cat_features = ["Make", "Colour"]
door_features = ["Doors"]
num_features = ['Odometer (KM)']

# Create an imputer 

imputer  = ColumnTransformer([
    ("cat_imputer", cat_imputer, cat_features),
    ("door_imputer", door_imputer, door_features),
    ("num_imputer", num_imputer, num_features)
])

# Transform the data 
filled_X = imputer.fit_transform(X)

In [120]:
filled_X

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

In [122]:
car_sales_field = pd.DataFrame(filled_X,
                              columns=["Make", "Colour", "Doors", "Odometer (KM)"])

car_sales_field

        Make Colour Doors Odometer (KM)
0      Honda  White   4.0       35431.0
1        BMW   Blue   5.0      192714.0
2      Honda  White   4.0       84714.0
3     Toyota  White   4.0      154365.0
4     Nissan   Blue   3.0      181577.0
..       ...    ...   ...           ...
945   Toyota  Black   4.0       35820.0
946  missing  White   3.0      155144.0
947   Nissan   Blue   4.0       66604.0
948    Honda  White   4.0      215883.0
949   Toyota   Blue   4.0      248360.0

[950 rows x 4 columns]

In [124]:
# TURN into category to number
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()

transformed = ColumnTransformer([('encoder', one_hot, categorical_features) ], remainder="passthrough")

transform_X = transformed.fit_transform(car_sales_field)

transform_X

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [126]:
y.isna().sum()

0

In [128]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

# Let's refig the model
X_train, X_test, y_train, y_test = train_test_split(transform_X, y, test_size=0.2, random_state=0)

# Train the model
model = RandomForestRegressor(n_estimators=100)
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.13791327064618775

## Another example with california housing dataset

In [131]:
from sklearn.datasets import fetch_california_housing

housing = fetch_california_housing()

housing

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n:Number of Instances: 20640\n\n:Number of Attributes: 8 numeric, predictive attributes and the target\n\n:Attribute Information:\n    - MedInc        median income in block group\n    - HouseAge      median house age in block group\n    - AveRooms      average number of rooms per household\n    - AveBedrms     average number of bedrooms per household\n    - Population    block group population\n    - AveOccup      average number of household members\n    - Latitude      block group latitude\n    - Longitude     block group longitude\n\n:Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [133]:
housing_df = pd.DataFrame(housing['data'], columns=housing["feature_names"])
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [135]:
len(housing_df)

20640

In [137]:
housing_df['target'] = housing['target']

housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [139]:
# get all independent variable
X = housing_df.drop("target", axis=1)

# get dependent variable
y = housing_df['target']

In [141]:
# from sklearn.preprocessing import StandardScaler
# sc = StandardScaler()
# X_train = sc.fit_transform(X_train)
# X_test = sc.transform(X_test)

# X_test

In [143]:
# import algorithm

from sklearn.linear_model import Ridge

# Spliting into train and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Train the model
model = Ridge()
# model = SVR(kernel='linear')
model.fit(X_train, y_train)

# Checking the score of the model
# Checking the score of the model
score = model.score(X_test, y_test)
print("Model R^2 score:", score)

Model R^2 score: 0.5943075006070295

In [149]:
# !pip install xgboost
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score

# Spliting into train and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)


# Standardize features
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)



# Train the model
# model = Ridge()
# model = RandomForestRegressor(n_estimators=1000) # 0.7987672891358495 r2_score
model = XGBRegressor() # 0.84061337734704
model.fit(X_train, y_train)

# Checking the score of the model
# Checking the score of the model
score = model.score(X_test, y_test)
print("score:", score)

y_pred = model.predict(X_test)

print(r2_score(y_test, y_pred))

Model R^2 score: 0.84061337734704
0.84061337734704